body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.button {
  background-color: #3483fa;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2968c8;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* SortOptions Component */
.sort-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sort-buttons button {
  margin: 0 5px;
}

/* Pagination Component */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
}

/* ProductDetail Component */
.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.product-card h2 {
  color: #3483fa;
}

.product-card p {
  margin: 10px 0;
}

.product-card div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card div button {
  margin: 0 10px;
}

/* ProductList Component */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.product-list div {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  max-width: 300px;
}

.product-list div:hover {
  transform: scale(1.05);
}

.product-list h2 {
  color: #3483fa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.product-list p {
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Spinner Component */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* Site Logo */
.logo-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #3483fa50;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo-name img {
  max-width: 120px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.logo-name h2 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  flex: 1;
  max-width: 50%; 
}

.searchDiv input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.searchDiv input[type="text"]:focus {
  border-color: #3483fa;
}

.searchDiv svg {
  font-size: 1.5rem;
  color: #3483fa;
}

.cart-div {
  display: flex;
  justify-content: flex-end;
}

.cart {
  font-size: 2rem;
  padding-right: 1rem;
}

.cart:hover {
  cursor: pointer;
}

.cart-modal {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 300px;
  max-width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
}

.cart-modal .button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.cart-modal .button:hover {
  background-color: #ff1a1a;
}

.cart-modal p {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.notificationCart {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  color: red;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  position: relative;
}



/* Responsive Design */
@media (max-width: 768px) {
  .searchDiv {
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    max-width: 35%; 
  }

  .searchDiv input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .cart-modal {
    width: 90%;
    right: 5%;
    left: 5%;
    top: 20px;
  }
}
